body {
    color:white;
    
    background-color: rgb(148, 110, 110);
    background-size: cover;
    text-decoration-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
   
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
  }

  