body {
    color:white;
    background-image:url("image76.jpg");
    
    background-color: rgb(194, 37, 37);
    background-size: cover;
    text-decoration-color: rgb(29, 59, 90);
    background-repeat: no-repeat;
   
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
  }

  