body {
    color:white;
    
    background-color: rgb(194, 37, 37);
    background-size: cover;
    text-decoration-color: rgb(224, 227, 229);
    background-repeat: no-repeat;
   
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
  }

  